- @body_id = 'signup'
/ <haml_loud> render :partial =&gt; &#39;spree/shared/error_messages&#39;, :locals =&gt; { :target =&gt; @user } </haml_loud>
.col-md-6.col-md-offset-3
  .panel.panel-default
    .panel-heading
      %h3.panel-title Create New Account
    #new-customer.panel-body{"data-hook" => "login"}
      = form_for resource, :as => :spree_user, :url => spree.registration_path do |f|
        %div{"data-hook" => "signup_inside_form"}
          = render :partial => 'spree/user_registrations/form', :locals => { :f => f }
          %p= f.submit Spree.t(:create), :class => 'btn btn-lg btn-success btn-block'
      .text-center
        = Spree.t(:or)
        = link_to Spree.t(:login_as_existing), spree.login_path
      %div{"data-hook" => "login_extras"}
